{% extends "insar_burst/insar_burst_base.md.txt.j2" %}

Note to reader: This readme file includes text blocks to extend the insar burst base file.
Only text included in blocks called in the base file will be included in the output readme.
We have simple placeholders for readability in this file to indicate where the base file will have its own sections.

{% block header %}
ASF Sentinel-1 Burst InSAR Data Package (ISCE2)
===============================================

This folder contains merged burst-based SAR Interferometry (InSAR) products and their associated files. The source data for
these products are Sentinel-1 bursts, extracted from Single Look Complex (SLC) products processed by ESA,
and they were processed using InSAR Scientific Computing Environment version 2 (ISCE2) software.

Refer to
https://sentinels.copernicus.eu/web/sentinel/user-guides/sentinel-1-sar/acquisition-modes/interferometric-wide-swath
for more information on Sentinel-1 bursts.

This data was processed by ASF DAAC HyP3 {{ processing_date.year }} using the {{ plugin_name }} plugin version
{{ plugin_version }} running {{ processor_name }} release {{ processor_version }}.
Files are projected to {{ projection }}, and the pixel spacing is {{ pixel_spacing|int }} m.

The source bursts for this InSAR product are:
 - Reference: {{ reference_burst_name }}
 - Secondary: {{ secondary_burst_name }}

Processing Date/Time: {{ processing_date.isoformat(timespec='seconds') }}

The directory name for this product is: {{ product_name }}

The output directory uses the following naming convention:

S1_rrr__yyyymmdd_yyyymmdd_pp_INTzz_cccc

rrr: Relative orbit ID values assigned by ESA. Merged burst InSAR products can contain many relative burst IDs, so the
        relate orbit ID is used in lieu of relative burst IDs for these products

yyyymmdd: Date of acquisition of the reference and secondary images, respectively.

pp: Two character combination that represents the mode of radar orientation (polarization) for both signal
        transmission and reception. The first position represents the transmit orientation mode and the second
        position represents the receive orientation mode.

    HH: Horizontal Transmit - Horizontal Receive
    HV: Horizontal Transmit - Vertical Receive
    VH: Vertical Transmit - Horizontal Receive
    VV: Vertical Transmit - Vertical Receive

INT: The product type (always INT for InSAR).

zz: The pixel spacing of the output image.

cccc: 4-character unique product identifier.

Files contained in the product directory are named using the directory name followed by a tag indicating the file type.
{% endblock %}
----------------
(This is where the base file has the Pixel Spacing section)

----------------
(This is where the base file has the Using This Data section)

***************
(This is where the base file has parts 1-8 of the Product Contents)

*************
{% block burst_insar_processing %}
# Burst InSAR Processing #

The basic steps in Sentinel-1 Burst InSAR processing are as follows:

*Pre-Processing*
1. Check that the input burst InSAR products are capable of being merged
2. Recreate the directory the post-interferogram generation ISCE2 directory structure
3. Reformat range-doppler burst InSAR product datasets to an ISCE2-compatible format
4. Create ISCE2 Sentinel-1 objects with the correct burst/multilook information

*InSAR Processing*
5. Run topsApp step 'mergebursts'
6. Optionally apply the water mask to the wrapped image.
7. Run topsApp steps 'unwrap' and 'unwrap2stage'
8. Run step 'geocode'

*Post-Processing*
9. translate output files to hyp3 format
10. write the README text file
11. write the metadata txt file

----------------
The detailed process, including the calls to ISCE2 software, is as follows:

The prepare-processing and InSAR processing are combined in the insar_tps_burst function.

## Pre-processing ##
 - merge_tops_bursts.check_burst_group_validity:Check that the input burst InSAR products are capable of being merged
 - merge_tops_bursts.download_metadata_xmls: Download metadata files for a set of burst InSAR products
 - merge_tops_bursts.create_burst_cropped_s1_obj: Create ISCE2 `Sentinel1` objects for the swaths/bursts present
 - merge_tops_bursts.spoof_isce2_setup: Recreate an ISCE2 setup post-`burstifg`
 - merge_tops_bursts.download_dem_for_multiple_bursts: Download DEM for merge run


## InSAR processing ##
The ISCE2 InSAR processing this product uses includes the following ISCE2 topsApp steps:
- mergebursts
- filter
- unwrap
- unwrap2stage
- geocode

These steps are run using these calls within hyp3-isce2:
- merge_tops_bursts.merge_bursts: Merge the wrapped burst interferograms
- merge_tops_bursts.goldstein_werner_filter: Apply the Goldstien-Werner Phase Filter
- merge_tops_bursts.mask_coherence: Optionally mask data before unwrapping
- merge_tops_bursts.snaphu_unwrap: Unwrap the merged interferogram using SNAPHU
- merge_tops_bursts.geocode_products: Geocode the output products

## Post-Processing ##
 - merge_tops_bursts.make_parameter_file: Produce metadata text file in the product
 - merge_tops_bursts.translate_outputs: Convert the outputs of hyp3-isce2 to hyp3-gamma formatted geotiff files
 - merge_tops_bursts.make_browse_image: Create a browse image for the dataset
 - merge_tops_bursts.make_readme: Produce the readme.md.txt file in the product
 {% endblock %}

 -----------
 (This is where the base file has a S1 Mission section)
 (This is where the base file has a footer)
